* {
    transition: all .3s ease .15s;
    font-family: "Roboto", sans-serif, monospace;
}

:root {
  --red: #ffb6c1;
  --orange: #ffa07a;
  --yellow: #f0e68c;
  --green: #90ee90;
  --blue: #87cefa;
}

body {
  background: #111;
  color: #FFF;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 98vh;
}

header, footer {
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 50%;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  main {
    width: 95%;
  }
}

p, h1 { text-align: center; }
a { text-decoration: none; }

@keyframes magic-mushrooms {
  0% { color: var(--red); }
  20% { color: var(--orange); }
  40% { color: var(--yellow); }
  60% { color: var(--green); }
  80% { color: var(--blue); }
  100% { color: var(--red); }
}

.red { color: var(--red); }
.orange { color: var(--orange); }
.yellow { color: var(--yellow); }
.green { color: var(--green); }
.blue { color: var(--blue); }

.mm-10 { animation: magic-mushrooms 10s linear infinite; }
.mm-5 { animation: magic-mushrooms 5s linear infinite; }
.mm-3 { animation: magic-mushrooms 3s linear infinite; }
.mm-1 { animation: magic-mushrooms 1s linear infinite; }
.mm-0 { animation: magic-mushrooms 0.1s linear infinite; }

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input, input:focus, button {
    outline: none;
    border: none;
    background: none;
    color: #FFF;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    opacity: 0;
}

#box {
    text-align: center;
    width: 100%;
    height: 100%;
    border-bottom: 10px #fcfc99 solid;
    background: rgba(30, 30, 30, 0.8);
    border-radius: 10px 10px 0px 0px;
}

#lil {
    position: initial;
}

button {
    float: right;
    opacity: 0;
    width: 100%;
    cursor: pointer;
    background: rgba(30, 30, 30, 0.8);
    border-radius: 0px 0px 10px 10px;
}

.clickable {
    user-select: none;
    cursor: pointer;
}
